<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    body{
      background-color: lightcoral;
    }
  </style>
</head>
<body>
{{{content}}}
</body>
</html>